
<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Employee Directory </title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/backend-plugin.min.css}">
    <link rel="stylesheet" th:href="@{/css/backend.css}">
    <link rel="stylesheet" th:href="@{/vendor@fortawesome/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/fonts/remixicon.css}">
</head>
<body class="  ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">

    <div class="iq-sidebar  sidebar-default ">
        <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
            <a th:href="@{/index}" class="header-logo">
                <img th:src="@{/images/logo.png}" class="img-fluid rounded-normal light-logo" alt="logo" src=""><h5 class="logo-title light-logo ml-3">Employee Directory</h5>
            </a>
            <div class="iq-menu-bt-sidebar ml-0">
                <i class="las la-bars wrapper-menu"></i>
            </div>
        </div>
        <div class="data-scrollbar" data-scroll="1">
            <div th:replace="fragments/sidebar :: sidebar"></div>
            <div class="p-3"></div>
        </div>
    </div>
    <div class="iq-top-navbar">
        <div class="iq-navbar-custom">
            <div th:replace="fragments/header :: header"></div>
        </div>
    </div>
    <div class="modal fade" id="new-order" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="popup text-left">
                        <h4 class="mb-3">New Order</h4>
                        <div class="content create-workform bg-body">
                            <div class="pb-3">
                                <label class="mb-2">Email</label>
                                <input type="text" class="form-control" placeholder="Enter Name or Email">
                            </div>
                            <div class="col-lg-12 mt-4">
                                <div class="d-flex flex-wrap align-items-ceter justify-content-center">
                                    <div class="btn btn-primary mr-4" data-dismiss="modal">Cancel</div>
                                    <div class="btn btn-outline-primary" data-dismiss="modal">Create</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="container-fluid add-form-list">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Update Project</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/pm/project/update/{id}(id = ${projectDTO.id})}" th:object ="${projectDTO}" method = "post" data-toggle="validator">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label> Name *</label>
                                                <input type="text" th:field="*{name}" class="form-control"  placeholder="Enter Name" data-errors="Please Enter Name." required>
                                                <div class="help-block with-errors" ></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Language *</label>
                                            <input type="text" th:field = "*{language}" class="form-control" placeholder="Enter Language" data-errors="Please Enter Name." required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Framework *</label>
                                            <input type="text" th:field = "*{framework}" class="form-control" placeholder="Enter Framework Name" data-errors="Please Enter Code." required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label> Project Manager *</label>
                                        <select  th:field = "*{manager_id}" class="form-control">
                                            <option th:each="candidate : ${candidates}" th:value="${candidate.id}" size="6">
                                                <span th:text = "${candidate.firstName}+' '+${candidate.lastName}"></span>
                                                <span>  in department  </span>
                                                <span th:text = "' '+ ${candidate.department_name}"></span>
                                            </option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Total Size *</label>
                                            <input type="number" th:field = "*{total_size}" class="form-control" placeholder="Total Size" data-errors="Please Enter Code." required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Total_cost *</label>
                                            <input type="text" th:field = "*{total_cost}" class="form-control" placeholder="Enter Cost" data-errors="Please Enter Code." required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Reference</label>
                                            <input type="text" th:field = "*{reference}" class="form-control" placeholder="Enter Reference" data-errors="Please Enter Code." >
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Operator</label>
                                            <input type="text" th:field = "*{operator}" class="form-control" placeholder="Enter Operator" data-errors="Please Enter Code." >
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Operating System</label>
                                            <input type="text" th:field = "*{os}" class="form-control" placeholder="Enter os" data-errors="Please Enter Code." >
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Start day *</label>
                                            <input type="date" th:field = "*{start_day}" class="form-control"  required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> End day</label>
                                            <input type="date" th:field = "*{end_day}" class="form-control" required >
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description </label>
                                            <textarea class="form-control" th:field = "*{description}" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Update Project</button>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>
    </div>
</div>
<!-- Wrapper End-->
<footer class="iq-footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
<!-- Backend Bundle JavaScript -->
<script th:src="@{/js/backend-bundle.min.js}"></script>

<!-- Table Treeview JavaScript -->
<script th:src="@{/js/table-treeview.js}"></script>

<!-- Chart Custom JavaScript -->
<script th:src="@{/js/customizer.js}"></script>

<!-- Chart Custom JavaScript -->
<script async th:src="@{/js/chart-custom.js}"></script>

<!-- app JavaScript -->
<script th:src="@{/js/app.js}"></script>
</body>
</html>

