<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/backend-plugin.min.css}">
    <link rel="stylesheet" th:href="@{/css/backend.css}">
    <link rel="stylesheet" th:href="@{/vendor/@fortawesome/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/fonts/remixicon.css}">
</head>
<body>
<nav class="iq-sidebar-menu" th:fragment="sidebar">
    <ul id="iq-sidebar-toggle" class="iq-menu">
        <li class="">
            <a th:href="@{/index}" class="svg-icon">
                <svg  class="svg-icon" id="p-dash1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line>
                </svg>
                <span class="ml-4">Dashboards</span>
            </a>
        </li>
        <li class=" ">
            <a href="#product" class="collapsed" data-toggle="collapse" aria-expanded="false">
                <svg class="svg-icon" id="p-dash7" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline>
                </svg>
                <span class="ml-4">Projects</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="product" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="">
                    <a th:href="@{/pm/project/index}">
                        <i class="las la-minus"></i><span>List Project</span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/pm/project/add}">
                        <i class="las la-minus"></i><span>Add Project</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" ">
            <a href="#projectMem" class="collapsed" data-toggle="collapse" aria-expanded="false">
                <svg class="svg-icon" id="p-dash7" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline>
                </svg>
                <span class="ml-4">Project Members</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="projectMem" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="">
                    <a th:href="@{/pm/project_Mem/index}">
                        <i class="las la-minus"></i><span>List Project Members</span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/pm/project_Mem/add}">
                        <i class="las la-minus"></i><span>Add Project Member</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" ">
            <a href="#category" class="collapsed" data-toggle="collapse" aria-expanded="false">
                <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg>
                <span class="ml-4">Departments</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="category" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="">
                    <a th:href="@{/admin/department/index}">
                        <i class="las la-minus"></i><span>Department List</span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/admin/department/add}">
                        <i class="las la-minus"></i><span>Add Department</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" ">
            <a href="#sale" class="collapsed" data-toggle="collapse" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M400-485q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM80-164v-94q0-35 17.5-63t50.5-43q72-32 133.5-46T400-424h23q-6 14-9 27.5t-5 32.5h-9q-58 0-113.5 12.5T172-310q-16 8-24 22.5t-8 29.5v34h269q5 18 12 32.5t17 27.5H80Zm587 44-10-66q-17-5-34.5-14.5T593-222l-55 12-25-42 47-44q-2-9-2-25t2-25l-47-44 25-42 55 12q12-12 29.5-21.5T657-456l10-66h54l10 66q17 5 34.5 14.5T795-420l55-12 25 42-47 44q2 9 2 25t-2 25l47 44-25 42-55-12q-12 12-29.5 21.5T731-186l-10 66h-54Zm27-121q36 0 58-22t22-58q0-36-22-58t-58-22q-36 0-58 22t-22 58q0 36 22 58t58 22ZM400-545q39 0 64.5-25.5T490-635q0-39-25.5-64.5T400-725q-39 0-64.5 25.5T310-635q0 39 25.5 64.5T400-545Zm0-90Zm9 411Z"/></svg>
                <span class="ml-4">Account Management</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="sale" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="">
                    <a th:href="@{/admin/account/index}">
                        <i class="las la-minus"></i><span>Account List</span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/admin/page-resetPW-account}">
                        <i class="las la-minus"></i><span>Reset Password Account</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" ">
            <a href="#purchase" class="collapsed" data-toggle="collapse" aria-expanded="false">
                <svg class="svg-icon" id="p-dash5" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                    <line x1="1" y1="10" x2="23" y2="10"></line>
                </svg>
                <span class="ml-4">Experience</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="purchase" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="">
                    <a th:href="@{/employee/experience/index}">
                        <i class="las la-minus"></i><span>List Experience</span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/employee/experience/add}">
                        <i class="las la-minus"></i><span>Add Experience</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" ">
            <a href="#return" class="collapsed" data-toggle="collapse" aria-expanded="false">
                <svg class="svg-icon" id="p-dash6" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="4 14 10 14 10 20"></polyline><polyline points="20 10 14 10 14 4"></polyline><line x1="14" y1="10" x2="21" y2="3"></line><line x1="3" y1="21" x2="10" y2="14"></line>
                </svg>
                <span class="ml-4">Skills</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="return" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="">
                    <a th:href="@{/skill/index}">
                        <i class="las la-minus"></i><span>Skill List</span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/skill/add}">
                        <i class="las la-minus"></i><span>Add Skill</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" ">
            <a href="#people" class="collapsed" data-toggle="collapse" aria-expanded="false">
                <svg class="svg-icon" id="p-dash8" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <span class="ml-4">People</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="people" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="">
                    <a th:href="@{/employee/index}">
                        <i class="las la-minus"></i><span>Employee List</span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/admin/employee/add}">
                        <i class="las la-minus"></i><span>Add Employee</span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/employee/edit}">
                        <i class="las la-minus"></i><span>Edit Profile</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#report" class="collapsed" data-toggle="collapse" aria-expanded="false">
                <svg class="svg-icon" id="p-dash8" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <span class="ml-4">Certificate</span>
                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                </svg>
            </a>
            <ul id="report" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                <li class="">
                    <a th:href="@{/certificate/index}">
                        <i class="las la-minus"></i><span>Certificate List</span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/certificate/add}">
                        <i class="las la-minus"></i><span>Add Certificate</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>